/* this file has all the css var for aspect ratio utility */

.bui-aspect-sqr{
    aspect-ratio: 1/1;
}
.bui-aspect-vertical-rec{
    aspect-ratio: 1/2;
}
.bui-aspect-horizontal-rec{
    aspect-ratio: 2/1;
}